{{- $.Scratch.Set "dribbbleSet" (and .Site.Params.dribbble.token .Site.Params.dribbble.userId .Site.Params.dribbble.perPage) -}}

<!doctype html>
<!--
dribbble.com/gsvineeth
twitter.com/gsvineeth
-->
<html lang="en">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        {{ partial "header" . }}
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
  </body>
</html>
