<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>

{{ if and (not .Site.Params.dribbble.static) ($.Scratch.Get "dribbbleSet") }}
<script src="/assets/js/jribbble.min.js"></script>
<script>
  $(document).ready(function() {
    $.jribbble.setToken('{{ .Site.Params.dribbble.token }}');
    $.jribbble.users('{{ .Site.Params.dribbble.userId }}').shots({ per_page: {{ .Site.Params.dribbble.perPage }} }).then(function(shots) {
      var html = [];

      shots.forEach(function(shot) {
        html.push('<div class="col-sm-6 col-md-4 col-lg-4"> <div class="grid-list">');
        html.push('<a href="' + shot.html_url + '" target="_blank">');
        html.push('<img class="img-responsive" src="' + shot.images.normal + '" alt="' + shot.title + '"><\/a>');
        html.push('<div class="overlay"><a target="_blank" href="' + shot.html_url + '">');
        html.push('<h2>' + shot.title + '<\/h2>');
        html.push('<\/a> <\/div><\/div><\/div>');
      });

      $('#shots').html(html.join(''));
    });
  });
</script>
{{ end }}
